body {
	/*background: url(http://www.unicorn-pictures.com/images/unicorn3.jpg) no-repeat center center;*/
	background: #000;
	color: #fff;
}

#madLibContent {
/*	margin: 50px;
	border-radius: 10px;
	border: 1px solid #ccc;
	padding: 20px;*/
	display: none;
}

#angrierLibContent {
	margin: 100px;
	position: relative;
}

#angrierLibContent li {
	clear: both;
	border-radius: 5px;
	margin: 10px;
	position: absolute;
	top: 0;
}

#angrierLibContent li.selected {
}

#angrierLibContent h2 {
	width: 200px;
	line-height: 48px;
	white-space: nowrap;
	position: absolute;
	background: #666;
	color: #fff;
	font-size: 30px;
	display: none;
	text-align: center;
}

#angrierLibContent li.selected h2 {
	display: block;
	z-index: 2;
}

#angrierLibContent img {
	height: 48px;
	width: 48px;
	position: absolute;
}

#angrierLibContent li.selected img {
}